* {
  margin: 0;
  padding: 0;
}
/* vewendet für den Hintergrund */
body {
  background-color: rgb(255, 255, 255);
}
/* verwendet für Logo bleib neugierig */
.p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: absolute;
  left: 75px;
  top: 80px;
  font-size: 100px;
  background-color: gold;
  block-size: 199px;
}
/* verwendet für die Einleitung bzw. Begrüßung */
.p2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: absolute;
  left: 75px;
  top: 400px;
  font-size: 50px;
  block-size: 199px;
}
/* verwendet für hr Links unten */
.p3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: absolute;
  left: 85px;
  top: 700px;
  box-shadow: 5px 5px 5px slategrey;
  block-size: 88px;
}
/* vewendet für die Größe des Bildes (Kopf) */
.img {
  position: absolute;
  left: 1000px;
  top: 85px;
  block-size: 499px;
}
/* verwendet auf Link (unten links) */
.box {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: absolute;
  left: 105px;
  top: 740px;
  font-size: 30px;
}
a:link, a:visited  {
  text-decoration: none;
  color: black;
}
a:hover
{
  text-shadow: 1px 2px  3px gold;
}